.logo-size{
    width: 204px;
    height: 70px;
}

.first-section-background-image{
    background-image: url("../images/BCUK-Cover.jpeg");
    height: 850px;
    position: center;
    background-size: cover;
    width: 100%;
}





.footer-bg {
    background: #374a5e;
  }
  
  .footer-link li {
    list-style: none;
  }
  
  .footer-link li a {
    text-decoration: none;
    color: black;
  }
  
  .footer-link li a:hover {
    text-decoration: underline;
  }
  
  .footer-logo-name a:hover {
    text-decoration: none !important;
  }

  .footer-icon-box-size{
    width: 50px;
    height: 50px;
    
  }
  


@media (max-width: 991px) {
    .logo-size{
        width: 136px;
        height: 47px;
    }

    .header-responsive-icon-size{
        width: 30px;
        height: 20px;
    }

    .first-section-background-image{
        background-position: center right;
        height: 545px;
    }
    }